    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fff; /* Set background color to white */
	box-sizing: border-box;
        }
        .topbar {
            background-color: #333; /* Changed to dark gray */
            color: #fff; /* Changed text color to white */
            overflow: hidden;
            padding: 10px 0;
            position: relative;
            display: flex;
            align-items: center; /* Align items vertically */
        }   
        .logo {
            width: 50px; /* Adjust width and height equally for a circle */
            height: 50px; /* Adjust width and height equally for a circle */
            border-radius: 50%; /* Make it a circle */
            margin-right: 10px; /* Adjust margin as needed */
        }
        .store-name {
            color: #fff;
            font-size: 28px;
            font-weight: bold;
            opacity: 0; /* Initially hidden */
            transition: opacity 1s ease-in-out; /* Changed to 1s */
        }
        .store-name.hide {
            opacity: 0;
        }
        .store-name.show {
            opacity: 1;
        }
        .search-container {
            text-align: center;
            margin-left: auto; /* Push to the right */
        }
        input[type=text] {
            padding: 8px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
        }
        .search-container button {
            padding: 8px 12px;
            background: #ddd;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .login-register {
            margin-left: 20px; /* Add margin */
        }
        .login-register button {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            padding: 8px 16px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .login-register button:hover {
            background-color: #fff;
            color: #444;
        }
        .navbar {
            background-color: #444;
            overflow: hidden;
            text-align: center;
            color: #fff;
            opacity: 100;
            transition: opacity 0.5s ease; /* transition */

        }
        .navbar.show {
            opacity: 100;
        }
        .navbar a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            font-size: 18px;
            opacity: 100;
            transition: opacity 0.5s ease; /* transition */
        }
        .navbar a:hover {
            background-color: #666;
            color: white;
        }
        /* Additional styles */
        .section-container {
            background-color: #fff;
            padding: 10px;
            text-align: center;
            margin-top: 5px; /* Add margin to separate from other content */
        }
        .section {
            display: inline-block;
            width: 30%;
            margin: 10px;
        }
        .section h3 {
            margin-bottom: 10px;
        }
        .section img {
            width: 50px; /* Adjust size as needed */
            height: auto;
            margin-bottom: 10px;
        }

	#category{
  	    padding: 5% 6%;
	}

	#product-cards{
     	    padding: 5% 10%;
}

	#footer{
 	margin-bottom: 2%;
 	margin-top: 2%;
  
}
	.filter-btns{
  	text-align: center;
}
	.filter-btn{
  	background: none;
  	cursor: pointer;
  	border: none;
  	font-family: inherit;
  	text-transform: uppercase;
  	display: inline-block;
  	margin: 10px 30px;
  	font-size: 16px;
  	color: #d3d3d3;
  	font-weight: 600;
  	letter-spacing: 2px;
  	position: relative;
  	-webkit-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}
	.filter-btn::after{
 	 content: "";
 	 position: absolute;
 	 top: 110%;
  	left: 50%;
 	 -webkit-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  	height: 2px;
  	width: 0;
  	background-color: #555;
 	 -webkit-transition: all 0.2s ease-in-out;
 	 -o-transition: all 0.2s ease-in-out;
 	 transition: all 0.2s ease-in-out
}
	.filter-btn:hover{
	  color: #555;
}
	.filter-btn:hover::after{
	  width: 100%;
}
	/* active button */
	.active-btn{
	  color: #555;
}
	.active-btn::after{
 	 width: 100%;
}

	.canvas-title{
 	 text-align: center;
}

	h3 {
  	font-family: 'Roboto', sans-serif;
  	text-align: center;
}

/*Shopping Cart*/

 	.btn-purchase{
   	text-align: center;
   	margin: auto;
   	padding: 2%;
   	width: 50%;
 }

	 #shopping-cart{
   	padding: 5% 5%;
 }

	 .cart-total{
   	text-align: right;
   	font-size: 1.3rem;
 }

	.up-icon{
  	 color: black;
   	position: fixed;
   	float: right;
   	z-index: 1;
   	left: 95%;
  	 top: 85%;
   	font-size: 2rem;
 }

	.container {
   	 text-align: center;
}

	.table-cart {
    	width: 100%;
}

	.table-cart th, .table-cart td {
  	  text-align: center;
}

	.cart-items tr td {
   	 white-space: nowrap; /* Prevent line breaks */
}

	.size-container {
   	 width: 100%;
	 max-height: 150px;
	 overflow-y: auto;
	 border: 1px solid #ccc;
	 border-radius: 5px;
	 margin-bottom: 20px;
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.size {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.size:hover {
    background-color: #ccc;
}